services:
  db-postgres:
    image: postgres:15
    container_name: django-test-db
    environment:
      POSTGRES_DB: django_test
      POSTGRES_USER: django_test
      POSTGRES_PASSWORD: 1234
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
networks:
  default:
    driver: bridge
